body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* .Header h1{
  margin:0px;
  padding: 0px;
} */
.Header{
  align-items: center;
  display: flex;
  color:white;
  justify-content: space-around;
  background-color: brown;
}
.Header button{
  color:white;
  background-color: violet;
  padding: 0.5rem;
  border:0px solid black;
  font-weight: bold;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 15px rgb(83, 43, 60);
}.Header button:hover{
  background-color: white;
  color:violet;
}
.Add_To_Card{
  margin: auto;
}
/* .Add_To_Card button{
  margin: 1rem;
  background-color: blueviolet;
  padding: 0.5rem;
  color:white;
  border-radius: 0.4rem;
  font-weight: bold;
  width:8%;
  border: 0px solid black;
  box-shadow: 5px 5px 10px grey;
} */

 h1{
  margin:1rem;
}
/* .icon{
  display: flex;
  width:25rem;
  border: 1px solid rebeccapurple;
  align-items: center;
  justify-content: space-around;
} */